@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body {
    font-family: Poppins;
}

a {
    text-decoration: none;
    color: #323223;
}

.navbar {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 60px;
    box-sizing: border-box;
    background-color: whitesmoke;
}

.menu div {
    display: inline;
    padding: 5px 10px;
}

.picked-nav {
    padding: 10px 20px;
    border-radius: 10px;
    color: white;
    background-color: #608AF5;
}